@import "./theme.module.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow: hidden;

  .divContainer {
    display: flex;
    flex-direction: row;
  }

  @media screen and (max-width: 400px) {
    .divContainer {
      display: flex;
      flex-direction: column;
    }
  }

  .RepartidorInput {
    border-radius: 15px;
    margin-bottom: 3vh;
    font-size: large;
    text-align: center;
    font-weight: 700;
  }

  @media screen and (max-width: 400px) {
    .RepartidorInput {
      height: auto;
      width: auto;
    }
  }

  .checkbox {
    transform: scale(2);
    margin: 15px;
  }
  .label {
    font-size: large;
    font-weight: 700;
  }

  .firstColumnContainer {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 33vw;
    align-items: center;
  }

  @media screen and (max-width: 400px) {
    .container {
      width: 90vw;
      margin-bottom: 15vh;
    }
  }

  .button {
    width: 15vw;
    height: auto;
    border-radius: 15px;
    margin-bottom: 2vh;
    font-size: medium;
    font-weight: 700;
    padding: 2%;
  }

  @media screen and (max-width: 400px) {
    .button {
      width: 32%;
    }
  }
  @media screen and (max-width: 400px) {
    .responseContainer {
      width: 100%;
      overflow-wrap: break-word;
    }
  }

  .p {
    font-size: xx-large;
    font-weight: bolder;
  }

  @media screen and (max-width: 400px) {
    .p {
      font-size: medium;
      font-weight: bolder;
    }
  }

  .stylePage {
    position: absolute;
    margin: 0.5% 0 0 89%;
  }

  .stylePageButton {
    all: unset;
  }
}
.friendsListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.friendsList {
  h3 {
    margin: 0;
    white-space: nowrap;
  }
  display: flex;
  align-items: center;
  padding: 1px !important;
  margin: 3%;
}

.xButton {
  border-radius: 10px;
  font-size: medium;
  font-weight: 700;
}

.modal {
  position: absolute;
  height: 40%;
  width: 40%;
  margin: -40vh 0 0 -20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .modal {
    height: 50vh;
    width: 80vw;
    margin: -60vh 0 0 -39vw;
  }
}

.closeButtonContainer {
  display: flex;
  justify-content: end;
  width: 100%;
}
.modalContentContainer {
  width: 100%;
  overflow: auto;
}

.modalContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}

.lighttheme {
  @include apply-theme($light-theme);
}
.darktheme {
  @include apply-theme($dark-theme);
}
