/*
$primaryColor : "#D4481E" ;
$secodaryColor : "#184D9D" ;
$tertiaryColor : "#D1F60C" ;
*/


$oscuro: #2a1e4f;
$oscuro2: #6d47ff;
$verde: #3be8b0;
$amarillo: #fcdd5c;
$turqueza: #4ddbd4;
$creatividadOscuro2: #000000;

$creatividadVioleta: #270140;
$creatividadOscuro: #3B3C40;
$creatividadAzulClaro: #BE965F;
$creatividadTurmarina: #04D9B2;
$creatividadNaranja: #8D6439;

// $creatividadVioleta: #270140;
// $creatividadOscuro: #010326 ;
// $creatividadAzulClaro: #04BFBF;
// $creatividadTurmarina: #04D9B2;
// $creatividadNaranja: #F2600C;


$firstLetter: #fef9ca;
$secondLetter:#c5b732;
$thirdLetter:#E0D9B1;
$fourthLetter:#aa445f;


$altov: 6.3vh;
$altomv:3.185vh;
$altoamv: 2.45vh;
$anchov: 1.05vw;
$altoh: 1.4vh;
$anchoh: 3.15vw;

$borde: 1px solid black;


 $primaryColor :#abd1c6;
 $secondaryColor :  #004643 ;
 $tertiaryColor :   #f9bc60 ;